# ensure no checking in data
*.csv

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#compiled code
target

# VS Code files, etc.
.classpath
.project
.settings
.vscode

# no properties
app.properties
